body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-list {
    border: 2px solid red;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 90px 280px 90px ;
    grid-template-rows: 40px 40px auto 150px;
    grid-gap: 10px;
}

/* .header {
    border: 2px solid green;
} */

.header:nth-of-type(1) {
    /* background-color: blue; */
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    display: flex;
    justify-content: center;
}
.header:nth-of-type(2) {
    /* background-color: red; */
    grid-column: 2 / span 3;
}
.header:nth-of-type(3) {
    /* background-color: green; */
    grid-column: 5 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header:nth-of-type(4) {
    /* background-color: yellow; */
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header:nth-of-type(5) {
    /* background-color: blueviolet; */
    grid-column: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header:nth-of-type(6) {
    /* background-color: orange; */
    grid-column: 2 / span 4;
}
.header:nth-of-type(7) {
    /* background-color: orange; */
    grid-column: 1 / span 5;
    display: grid;
    display: grid;
    justify-content: center;
    grid-template-columns: 140px 140px 140px 140px 140px;
    grid-gap: 20px;
}
.header__history:nth-of-type(1) {
    height: 90px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}
.header__history:nth-of-type(2) {
    height: 90px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}
.header__history:nth-of-type(3) {
    height: 90px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}
.header__history:nth-of-type(4) {
    height: 90px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}
.header__history:nth-of-type(5) {
    height: 90px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
    /* object-fit: cover; */
}

.header__figure {
    margin: 0;
    border: 2px solid red;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.header__figure img {
    height: 140px;
    width: 140px;
    object-fit: cover;
}
.header__history img {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.header h1 {
    margin: 0;
}
.header a  {
    margin: 0;
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.header p {
    line-height: 40px;
}
.header__options {
    border: 2px solid lightslategray;
    border-radius: 8px;
    padding: 6px 6px;
    background: rgb(55, 158, 192);
}
.header__follow {
    border: 2px solid lightslategray;
    border-radius: 4px;
    padding: 6px 45px;
    background-color: rgb(55, 158, 192);
}
.header__more {
    border: 2px solid lightslategray;
    border-radius: 4px;
    padding: 6px 13px;
    background-color: rgb(55, 158, 192);
}



.followers-list {
    /* border: 2px solid green; */
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 311px);
    justify-content: center;
    /* background: lightblue; */
}

.followers {
    border: 2px solid red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.post-list {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 293px);
    /* grid-template-columns: auto; */
    justify-content: center;
    grid-gap: 28px;
    /* background: chartreuse; */
}

.post {
    /* border: 2px solid green; */
    cursor: pointer;
    position: relative;
    display: block;
    /* overflow: hidden; */
    /* width: 300px; */
}

.post-images {
    border: 2px solid red;
    margin: 0;
}

.post-images img {
    border: 2px solid red;
    height: 293px;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.post-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay {
    display: flex;
}

.post-likes,
.post-comments{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.nav-container {
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.nav-list {
    margin: 0;
    border-top: 2px solid lightgray;
    /* margin-top: 28px; */
    /* max-width: 900px; */
    display: grid;
    grid-template-columns: repeat(5, 187px);
    justify-content: center;
    background: white;
}

.nav-a {
    margin: 0;
    /* border: 2px solid red; */
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-figure {
    margin: 0;
    /* display: flex;
    align-items: center; */
}

/* .nav-figure img {
    display: flex;
    align-items: center; 
} */



@media only screen and (max-width: 479px) {
    
    .followers-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-list {
        grid-template-columns: repeat(3, 100px);
        grid-gap: 3px;
    }

    .post-images img {
        height: 100px;
        object-fit: cover;
    }

    .nav-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
        
    .followers-list {
        grid-template-columns: repeat(3, 156px);
    }
    
    .post-list {
        grid-template-columns: repeat(3, 152px);
        grid-gap: 8px;
    }

    .post-images img {
        height: 152px;
        object-fit: cover;
    }

    .nav-list {
        grid-template-columns: repeat(5, 93px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .followers-list {
        grid-template-columns: repeat(3, 243px);
    }
    
    .post-list {
        grid-template-columns: repeat(3, 230px);
        grid-gap: 20px;
    }

    .post-images img {
        height: 230px;
        object-fit: cover;
    }

    .nav-list {
        grid-template-columns: repeat(5, 150px);
    }
}